 .controls-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .controls-wrapper div {
     margin: 0;
     margin-left: .2em;
     padding: .4em;
     border-radius: 3px;
     background: rgba(0, 0, 0, 0.1);
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: all .6s;
     margin-top: -1em;
     opacity: 0;
 }
 
 .controls-wrapper div:hover {
     background: rgba(0, 0, 0, 0.2);
     transition: all .6s;
 }
 
 .controls-wrapper--visible {
     background: rgba(0, 0, 0, 0.2);
 }
 
 .controls-wrapper--visible div {
     margin-top: 0;
     opacity: 1;
     transition: all .6s;
 }