/* Taken from https://codepen.io/thebabydino/pen/goYYrN and  https://codepen.io/zFunx/pen/XevMzL?editors=0100*/

.input-range {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-range input[type="range"] {
    --bgColor: rgb(233, 112, 42);
    --bgColor--disabled: #ccc;
    --thumbWidth: 1em;
    --trackHeight: .2em;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(0.5*var(--thumbWidth) + var(--ratio)*(100% - var(--thumbWidth)));
    margin: 0;
    padding: 0;
    /* width: 12.5em; */
    height: var(--thumbWidth);
    background: transparent;
    font: 1em arial, sans-serif;
    -webkit-appearance: none;
    outline: none;
}

.input-range input[type="range"]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    /* width: 12.5em; */
    height: var(--trackHeight);
    background: var(--bgColor--disabled);
    background: linear-gradient(var(--bgColor), var(--bgColor)) 0/ var(--sx) 100% no-repeat var(--bgColor--disabled);
    border-radius: 10px;
    transition: background-color 0.3s;
}


/* .input-range input[type="range"]:hover::-webkit-slider-runnable-track,
.input-range input[type="range"]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(#c8d, #c8d) 0/ var(--sx) 100% no-repeat #eee;
    transition: background-color 0.3s;
} */

.input-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* margin-top: -0.625em; */
    margin-top: calc((var(--thumbWidth) - var(--trackHeight))/-2);
    box-sizing: border-box;
    border: none;
    width: var(--thumbWidth);
    height: var(--thumbWidth);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* .input-range input[type="range"]:focus::-webkit-slider-thumb,*/

.input-range input[type="range"]:hover::-webkit-slider-thumb {
    background: var(--bgColor);
    transition: background-color 0.3s;
}


/* Background is not animatable in firefox */


/* 
.input-range input[type="range"]::-moz-focus-outer {
    border: 0;
}

.input-range input[type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: var(--thumbWidth);
    height: var(--thumbWidth);
    border-radius: 50%;
    background: #f90;
    cursor: pointer;
}

.input-range input[type="range"]:hover::-moz-range-thumb,
.input-range input[type="range"]:focus::-moz-range-thumb {
    background: darkOrange;

}

.input-range input[type="range"]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: var(--trackHeight);
    background: #ccc;
}

.input-range input[type="range"]:hover::-moz-range-track,
.input-range input[type="range"]:focus::-moz-range-track {
    background: #777;

}

.input-range input[type="range"]::-moz-range-progress {
    height: var(--trackHeight);
    background: #95a;
    border-radius: 10px;
}

.input-range input[type="range"]:hover::-moz-range-progress,
.input-range input[type="range"]:focus::-moz-range-progress {
    background: darkOrange;
 
} */


/* .input-range input[type="range"]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: var(--trackHeight);
    background: #ccc;
}

.input-range input[type="range"]::-ms-fill-lower {
    height: var(--trackHeight);
    background: #95a;
}

.input-range input[type="range"]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: var(--thumbWidth);
    height: var(--thumbWidth);
    border-radius: 50%;
    background: #f90;
}

.input-range input[type="range"]::-ms-tooltip {
    display: none;
} */