.Task {
    display: flex;
    justify-content: flex-start;
    margin: 2em 2em;
    width: calc(100%-4em);
    color: var(--secondary-white);
    border-bottom: 1px solid var(--secondary-white);
    position: relative;
    --task-name-width: 200px;
    --task-duration-width: 120px;
    --task-status-width: 50px;
}

.Task input {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.Task .Task-Name input {
    text-align: left;
}

.Task div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    overflow: hidden;
    text-align: center;
    margin: 0 .5em;
    margin: 0;
}

.Task .Task-Name {
    width: var(--task-name-width);
}

.Task .Task-Duration {
    width: var(--task-duration-width);
}

.Task .Task-Status {
    position: absolute;
    right: 0;
    top: 0;
    bottom: .3em;
    width: var(--task-status-width);
}

.Task .Task-Control .control-wrapper {
    width: 2.2em;
    height: 2.2em;
    /* padding: .8em; */
    margin-right: .5em;
    border-radius: 5px;
    background: rgba(0, 0, 0, .2);
    transition: all .6s;
    cursor: pointer;
}

.Task .Task-Control .control-wrapper:hover {
    background: rgba(0, 0, 0, .5);
    transition: all .6s;
}

.Task--active {
    background: rgba(0, 0, 100, 0.2);
    border-radius: 3px;
}

.Task-Add {
    /* position: relative;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 3px;
    background: rgba(0, 0, 0, .5);
    overflow: visible; */
    --color: #ccc;
    position: relative;
    top: calc(-2em + 3px);
    left: 2em;
    /* right: 0; */
    /* right: 10em; */
    width: 100%;
    height: .2em;
    /* height: .35em; */
    background: var(--color);
    background: rgba(0, 0, 0, .5);
    overflow: visible;
    z-index: 999;
    opacity: 0;
    transition: all .6s;
    cursor: pointer;
}

.Task-Add:hover {
    opacity: 1;
    transition: all .6s;
}

.Task-Add span {
    position: absolute;
    font-size: 1.1em;
    /* font-size: 2em; */
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    left: -1.70em;
    /* left: -1.25em; */
    top: -0.75em;
    /* top: -0.75em; */
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-white);
    color: var(--color);
}

.Task-Add span i {
    /* position: absolute; */
    /* font-size: 3em; */
    /* left: 0;
    top: -50%; */
}