.Timer-Short {
    --dimension: 120px;
    width: 50%;
    max-width: var(--dimension);
    max-height: var(--dimension);
    height: var(--dimension);
}

.Timer-Short * {
    transition: all .1s;
}

.Timer-Short text {
    animation: pulse 2s ease-in infinite;
    transition: all .6s;
    font-size: 1.7rem;
}

@keyframes pulse {
    0% {
        /* font-size: 1.6rem; */
        /* transform: scale(1.2); */
    }
    50% {
        /* font-size: 1.8rem; */
        /* transform: scale(1); */
    }
    100% {
        /* font-size: 1.6rem; */
        /* transform: scale(1.2); */
    }
}