#Timer-Display.Timer-Display {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
}

#Timer-Display.Timer-Display--align-right input {
    text-align: right;
}

#Timer-Display.Timer-Display--align-right .timer-separator {
    opacity: 1;
    margin: 0 .3em 0 0;
    transition: all .6s;
}

#Timer-Display .timer-component:hover {
    opacity: 1;
    transition: all .2s;
}

#Timer-Display .timer-component--hidden {
    opacity: 0;
    transition: all .6s;
}

.Timer-Display span {
    margin: 0 .1em;
    display: inline-block;
}

#Timer-Display.Timer-Display input {
    padding-left: 0;
    padding-right: 0;
    width: 1.3em;
}

#Timer-Display.Timer-Display .timer-component-seconds {
    width: 3em;
}

.Timer-Display input::-webkit-outer-spin-button,
.Timer-Display input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.Timer-Display input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}