.App {
    --secondary-white: #dadada;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.2em;
}

.App .box-hmax-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.App .box-hmax-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.App .box-top-left {
    position: absolute;
    left: 0;
    top: 0;
}

.App .box-basic-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App input {
    border: none;
    padding: .2em .3em;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: all .6s;
    outline: none;
}

.App li {
    list-style: none;
}

.App input:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all .6s;
}

.draggable {
    -webkit-app-region: drag;
}

.non-draggable {
    -webkit-app-region: no-drag;
}

.invisible {
    opacity: 0 !important;
    transition: all .6s;
}