.TaskPage {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, .2);
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.TaskPage .task-add-container {
    background: rgba(0, 0, 0, .1);
    width: 98%;
    margin: .3em auto;
    margin-bottom: .8em;
}

.TaskPage .task-add {
    /* background: rgba(0, 0, 0, .1); */
    padding: .2em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2em;
}

.TaskPage .task-text {
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.TaskPage .task-add-btn {
    background: rgba(0, 0, 0, .1);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all .6s;
}

.TaskPage .task-add-btn:hover {
    background: rgba(0, 0, 0, .2);
    transition: all .6s;
}

.TaskPage .task-item {
    /* background: rgba(0, 0, 0, .1); */
    padding: .2em;
    width: 100%;
    /* cursor: pointer; */
    display: grid;
    grid-template-columns: 1fr 7em 5em;
    grid-template-columns: 65% 5em 1em 5em;
    transition: all .6s;
    position: relative;
}

.TaskPage .task-item input {
    border-bottom: none;
}

.TaskPage .task-item:hover {
    background: rgba(0, 0, 0, .1);
    transition: all .6s;
}

.TaskPage .task-item:hover input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: all .6s;
}

.TaskPage .task-name {
    padding-left: 0.5em;
    display: flex;
    overflow: hidden;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: stretch; */
    /* max-width: 55%; */
}

.TaskPage .task-name input {}

.TaskPage .task-elapsedtime,
.TaskPage .task-overtime {
    text-align: right;
    padding: 0 0.5em;
    justify-content: flex-end;
}

.TaskPage .task-overtime {
    color: rgb(255, 79, 79);
    font-weight: bold;
}

.TaskPage .task-item .timer-controls-container {
    margin-left: -150px;
    opacity: 0;
    transition: all .6s;
    transform: scale(.8);
}

.TaskPage .task-item:hover .timer-controls-container {
    margin-left: 0;
    margin-left: -22px;
    opacity: 1;
    transition: all .6s;
}

.TaskPage .task-item .task-handle {
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
    transition: all .2s;
    cursor: grab;
}

.TaskPage .task-item:hover .task-handle {
    width: 6px;
    background: rgba(0, 0, 0, 0.4);
    transition: all .2s;
}

@media only screen and (max-width: 500px) {
    .TaskPage .task-item {
        grid-template-columns: 65% 1em 5em;
        grid-template-rows: 28px 28px;
    }
    .TaskPage .task-item .task-name {
        grid-column: 1/4;
    }
    .TaskPage .task-item .task-divider {
        grid-column: 2/3;
    }
}