.TimerControls {
    margin: 0 auto;
    min-width: 100px;
    max-width: 150px;
    display: flex;
}

.TimerControls .timer-control {
    --dimension: 1.7em;
    background: rgba(0, 0, 0, .1);
    padding: .2em;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 0 0 0 .04em;
    height: var(--dimension);
    width: var(--dimension);
    border-radius: 3px;
    cursor: pointer;
}

.TimerInput {
    display: flex;
    align-items: baseline;
}

.TimerInput input[type=number] {
    width: 1.2em;
    text-align: right;
    -moz-appearance: textfield;
    /* Firefox */
    padding: 0;
}

.TimerInput input::-webkit-outer-spin-button,
.TimerInput input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.TimerInput span {
    position: relative;
    top: -.08em;
}