.MainUI {
    --handle-width: .5em;
    position: relative;
    max-height: 270px;
    overflow-y: auto;
}

.MainUI .content-wrapper {
    --handle-width: .5em;
    min-height: 50px;
    /* height: 50px; */
    /* background: rgba(0, 0, 0, 0.5); */
    position: relative;
}

.MainUI .content-wrapper-inner {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: 'fixed';
    width: 100%;
}

.MainUI .drag-handle {
    width: var(--handle-width);
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 2000;
}

.MainUI .content {
    padding-left: .3em;
    margin-left: var(--handle-width);
    width: calc(100% - var(--handle-width));
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 1.2em;
    height: 100%;
    color: white;
    position: relative;
    z-index: 10000;
}

.MainUI .content-detailed {
    /* position: absolute; */
    /* top: 100%; */
    /* right: 0; */
    /* left: 0; */
    height: 150px;
    /* background: rgba(0, 0, 0, 0.2); */
    display: none;
    color: #333;
}

.MainUI .content-detailed * {
    color: #333;
}

.MainUI .current-details {
    font-size: .7em;
    font-style: italic;
    margin-left: .5em;
}

.MainUI .current-details:hover .current-details_edit {
    opacity: 1;
    transition: all .6s;
}

.MainUI .current-details .current-details_edit {
    background: rgba(0, 0, 0, 0.2);
    padding: .2em .3em;
    border-radius: 3px;
    margin-left: .5em;
    cursor: pointer;
    opacity: .2;
    transition: all .6s;
}

.MainUI .content-detailed--visible {
    display: block;
}


/*Input Wrapper*/

.MainUI .input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #333;
}

.MainUI .input-wrapper::before,
.MainUI .input-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.MainUI .input-wrapper::after {
    background: white;
    transform: scaleX(0);
}

.MainUI .input-wrapper:hover::after {
    transition: all .3s;
    transform: scaleX(1);
}

.MainUI input:hover {
    background: rgba(0, 0, 0, 0.2);
}


/*Input Wrapper End*/

.MainUI .timer-wrapper {
    margin-left: .2em;
    width: calc(100% - .2em);
    background: rgba(0, 0, 0, 00.1);
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainUI .controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainUI .controls-wrapper div {
    margin: 0;
    margin-left: .2em;
    padding: .4em;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .6s;
    margin-top: -1em;
    opacity: 0;
}


/* .MainUI:hover .controls-wrapper div {
    margin-top: 0;
    opacity: 1;
    transition: all .6s;
} */

.MainUI .controls-wrapper div:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: all .6s;
}

.MainUI .controls-wrapper--visible {
    background: rgba(0, 0, 0, 0.2);
}

.MainUI .controls-wrapper--visible div {
    margin-top: 0;
    opacity: 1;
    transition: all .6s;
}

.MainUI .add-project {
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    padding: .2em .5em;
    display: grid;
    grid-template-columns: 28px 1fr;
    cursor: pointer;
}

.MainUI .add-project:after {
    content: '';
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 0;
    border-left: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -3px;
    height: 2px;
    transform: scaleX(.96);
}

.MainUI .add-project div:first-child {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 3px;
}

.MainUI .add-project div:first-child:hover {
    background: rgba(0, 0, 0, 0.3);
}

.MainUI .add-project i {
    color: #eee;
}

.MainUI .not-displayed {
    display: none;
}

.MainUI .input-wrapper .timer-line-ui,
.MainUI .input-wrapper .timer-line-ui--faded {
    --color: rgba(255, 127, 0, 0.8);
    height: 1px;
    background: var(--color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    transition: all .2s;
    z-index: 30000;
}

.MainUI .input-wrapper .timer-line-ui--faded {
    background: red;
    right: 0;
}

.MainUI .input-wrapper .timer-line-ui div {
    --side: .8em;
    width: var(--side);
    height: var(--side);
    top: calc(var(--side)/-2);
    right: calc(var(--side)/-2);
    border-radius: 50%;
    position: absolute;
    background: var(--color);
    opacity: 0;
    transition: all .6s;
    cursor: grab;
}

.MainUI .input-wrapper:hover .timer-line-ui div {
    transition: all .6s;
    opacity: 1;
}

.MainUI .timer-slider {
    width: 95%;
}